<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CargoShipDB" 
             connectionString="Data Source=DESKTOP-I8SR50H\SQLEXPRESS;Initial Catalog=CargoShipDB;Integrated Security=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>